.signup-error {
	color: red;
}

.exercises-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 50vh;
	flex-direction: column;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.input-row {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
